IS_LIVE=0 # [0 = development, 1 = production]

POSTGRES_CONNECTION_STRING="dbname=mydbname user=myusername password=mypassword host=localhost port=5432 connect_timeout=5"  # see https://secure.php.net/manual/en/function.pg-connect.php

# email settings
PHPMAILER_PROTOCOL="smtp" # [smtp, sendmail, mail, qmail]
PHPMAILER_SMTP_HOST="" # if smtp protocol
PHPMAILER_SMTP_PORT= # if smtp protocol. must be integer

#Uncomment and change emails to override config emails for dev testing
#emails
#EMAILS_OWNER="someone@somewhere.com"
#EMAILS_PROGRAMMER="someoneelse@somewhereelse.com"
#EMAILS_SERVICE="anyone@anywhere.com"