.env
.idea/
.vscode/
vendor/
node_modules/
docs/internal.md
cliScripts/
config/
domain/
prebuild/
public/
storage/
templates/
.env.example
composer.json
composer.lock
gulpfile.js
package-lock.json
package.json
pg_data.sql
pg_schema.sql