RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
#https://stackoverflow.com/questions/21417263/htaccess-add-remove-trailing-slash-from-url
RewriteRule ^(.*)/$ /$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]