$main-padding: 1em;

@import 'foundation';
@import 'admin';
@import 'layoutFlex';
@import 'adminHeaderLoggedIn';
@import 'adminNavOverlay';
@import 'adminFooter';
@import 'forms';

#simpleContainer {
  margin: 0;
  //width: 14em;
}