body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4em auto 3em;
  grid-template-areas:
          "header"
          "main"
          "footer";
  justify-items: stretch;
  align-items: center;
}