body {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 4em auto 3em;
  grid-template-areas:
          "header header"
          "nav main"
          "footer footer";
  justify-items: stretch;
  align-items: start;
}