$main-padding: 1em;

@import 'foundation';
@import 'admin';
@import 'layoutFlex';
@import 'adminHeaderNotLoggedIn';
@import 'adminNavOverlay';
@import 'adminFooter';
@import 'forms';

#simpleContainer {
  margin: auto;
  width: 20em;
}