$main-padding: 1em;

@import 'adminFoundation';
@import 'admin';
@import 'adminLayoutFlex';
@import 'adminHeaderNotLoggedIn';
@import 'adminNavOverlay';
@import 'adminFooter';
@import 'adminForms';

#simpleContainer {
  margin: auto;
  width: 20em;
}