<?php
declare(strict_types=1);

// DO NOT CHECK IN WITH CREDENTIALS SET
// This should be copied to changePassword.php, which is .gitignored
/** This script changes an administrator's password */

/** begin config */
$username = '';
$passwordClear = ''; // not validated, make it a good one https://www.schneier.com/blog/archives/2014/03/choosing_secure_1.html
/** end config */

use Entities\Administrators\Model\AdministratorsEntityMapper;
use Infrastructure\SlimAdmin;

define('APPLICATION_ROOT_DIRECTORY', realpath(__DIR__.'/..'));
require APPLICATION_ROOT_DIRECTORY . '/vendor/autoload.php';
require APPLICATION_ROOT_DIRECTORY . '/config/constants.php';

SlimAdmin::getInstance();

$admMapper = AdministratorsEntityMapper::getInstance();

// get administrator. make sure exists
if (null === $administrator = $admMapper->getObjectByUsername($username)) {
    echo "Error: Administrator $username not found.\n";  
} else {
    $administratorId = $administrator->getId();
    
    // update pw
    $admMapper->doUpdate($administratorId, ['password' => $passwordClear]);
    
    echo "Administrator $username (id $administratorId) password updated.\n";      
}
