<?php
declare(strict_types=1);

// This should be copied to insertTopAdministrator.php, which is .gitignored
// DO NOT CHECK IN WITH CREDENTIALS SET

/** This script will insert an administrator with TOP_ROLE permissions. Note that TOP role is defined in config/constants.php, and defaults to owner. */

/** begin config */
$name = '';
$username = ''; // must be unique and at least 4 characters or query will fail
$passwordClear = ''; // not validated, make it a good one https://www.schneier.com/blog/archives/2014/03/choosing_secure_1.html
/** end config */

use Entities\Administrators\Model\AdministratorsEntityMapper;
use Entities\Roles\Model\RolesTableMapper;
use Entities\Permissions\Model\PermissionsEntityMapper;
use Infrastructure\SlimAdmin;

define('APPLICATION_ROOT_DIRECTORY', realpath(__DIR__.'/..'));
require APPLICATION_ROOT_DIRECTORY . '/vendor/autoload.php';
require APPLICATION_ROOT_DIRECTORY . '/config/constants.php';

SlimAdmin::getInstance();

pg_query("BEGIN");

$rolesTableMapper = RolesTableMapper::getInstance();

if (null === $topRoleId = $rolesTableMapper->getRoleIdForRole(TOP_ROLE)) {
    $topRoleId = (int) $rolesTableMapper->insert(['role' => TOP_ROLE]);
}
$administratorActive = true;

$administratorId = (AdministratorsEntityMapper::getInstance())->create($name, $username, $passwordClear, [$topRoleId], $administratorActive);

/** assign all permissions to role. note, by default these are already installed for owner, but if a new TOP_ROLE is being defined then they will be inserted */
$permissionsEntityMapper = PermissionsEntityMapper::getInstance();

foreach ($permissionsEntityMapper->getObjects() as $permission) {
    if (!$permission->hasRole($topRoleId)) {
        $permissionsEntityMapper->doInsertPermissionRole($permission->getId(), $topRoleId);
    }
}

pg_query("COMMIT");

echo "administrator $administratorId inserted.\n";  
